* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin-top: 80px;
}

*::before,
*::after {
  box-sizing: border-box;
}

input,
button {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}
